@import "tailwindcss";
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    @apply bg-gradient-to-r from-blue-400 via-blue-600 to-blue-800;
}
button{
    @apply bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 p-[7px_10px] rounded-[10px] cursor-pointer text-white font-[600] drop-shadow-[0px_0px_2px_black]
}
@media screen and (max-width: 500px) {
    p{
        @apply text-[12px]
    }
}