@import "tailwindcss";
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */
body{
    display: flex;
    flex-direction: column;
    font-family: monospace;
    @apply bg-gradient-to-r from-blue-400 via-blue-600 to-blue-800;
}
button{
    @apply bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 p-[7px_10px] rounded-[10px] cursor-pointer text-white font-[600] drop-shadow-[0px_0px_2px_black] transition-[0.5s]
}
button:hover{
    @apply scale-[1.1] transition-[0.5s] 
}
button:active{
    @apply scale-[0.5]
}
#loadingMsg{
    @apply text-[15px] text-green-500 drop-shadow-[0px_0px_2px_black] font-[600]
}
@media screen and (max-width: 500px) {
    p{
        @apply text-[12px]
    }
}
